*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #1f2937;
  --colr-bg-light: #e5e7eb;
  --color-light-primary: #f9faf8;
  --color-light-secondary: #e5e7eb;
  --color-blue: #3882f6;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
}

.button {
  display: inline-block;
  min-width: 120px;
  padding: 8px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  color: var(--color-light-secondary);
  background-color: var(--color-blue);
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header {
  padding: 20px 0;
  background-color: var(--color-bg-dark);

  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    font-size: 24px;
    color: var(--color-light-primary);
  }

  .links {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    transition: opacity 0.3s ease;
  }

  a[href]:hover {
    opacity: 0.8;
  }

  a[href]:active {
    opacity: 0.5;
  }
}

.hero {
  padding: 120px 0;
  background-color: var(--color-bg-dark);

  .body {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .text {
    max-width: 50%;
    flex: 1;
  }

  .title {
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 900;
    color: var(--color-light-primary);
  }

  .description {
    margin-bottom: 12px;
    font-size: 18px;
    color: var(--color-light-secondary);
  }

  .image {
    max-width: 50%;
    flex: 1;

    img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
